
@{
    ViewData["Title"] = "BasicInfo";
    Layout = "~/Views/Shared/AccLayout.cshtml";
}


@{
    ViewBag.Title = "Home Home Page";
    Layout = "~/Views/Shared/AccLayout.cshtml";
}


<div class="container">
				 <div class="baseImg" style="position: fixed;padding-left: 40px;">
					 <img src="~/Content/img/formpic.png" alt="" width="400" />
				 </div>
				<div class="row justify-content-end">
				   <div class="col-md-5">
					  <div class="card card-default mb-3 mt-3">
						  <div class="card-body">
							  <div class="card-header">Get Started</div>
							  <div class="p-2">
							  <label>Full name</label>
								  <input class="form-control formtext" type="text" placeholder="Name">
							  </div>
							  <div class="p-2">
							  <label>Email</label>
								  <input class="form-control formtext" type="email" placeholder="Email">
							  </div>
							  <div class="p-2">
							  <label>Phone Number</label>
								  <input class="form-control formtext" type="tel" placeholder="Phone Number">
							  </div>
							  <div class="p-2">
								  <a href="#" class=" btn btn-block btn-success">Next</a>
							  </div>
                          </div>
					  </div>
					   
				   </div>
				</div>
			 </div>