@model AfriCompare.API.Controllers.UserRegistrationRequest
@{
    ViewData["Title"] = "BasicInfo";
    Layout = "~/Views/Shared/AccLayout.cshtml";
    string pattern = @"^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})";
}
<div class="container">
    <div class="baseImg" style="position: fixed;padding-left: 40px;">
        <img src="~/Content/img/formpic.png" alt="" width="400" />
    </div>
    <div class="row justify-content-end">
        <div class="col-md-5">

            <div class="card card-default mb-3 mt-3">
                <div class="card-body">
                    <div class="card-header">Get Started</div>
                    <div class="alert alert-danger" role="alert" id="dvError"></div>
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmAdd", data_parsley_validate = "" }))
                    {
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="p-2">
                            <div class="row">
                                <div class="col-md-4">
                                    <label asp-for="Salutation" class="control-label"></label>
                                    <input asp-for="Salutation" type="text" name="Salutation" class="form-control formtext" placeholder="Salutation" required minlength="2" />
                                    <span asp-validation-for="Salutation" class="text-danger"></span>
                                </div>
                                <div class="col-md-8">
                                    <label asp-for="FullName" class="control-label"></label>
                                    <input asp-for="FullName" type="text" name="FullName" class="form-control formtext" placeholder="FullName " required minlength="5" />
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="p-2">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" type="email" name="Email" class="form-control formtext" placeholder="Email" required minlength="6" data-parsley-checkemail />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="p-2">
                            <label asp-for="PhoneNumber" class="control-label"></label>
                            <input asp-for="PhoneNumber" type="text" name="PhoneNumber" class="form-control formtext" placeholder="Phone Number" required />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>

                        <div class="p-2">
                            <label asp-for="City" class="control-label"></label>
                            <input asp-for="City" type="text" name="City" class="form-control formtext" placeholder="City" required />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>

                        <div class="d-flex p-2 ">
                            <div class="p-2">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" type="password" name="password" class="form-control formtext" 
                                    data-parsley-minlength="8"
                                    data-parsley-required-message="Please enter your  password."
                                    data-parsley-uppercase="1"
                                    data-parsley-lowercase="1"
                                    data-parsley-number="1"
                                    data-parsley-special="1"
                                    data-parsley-required 
                                    required
                                    minlength="6" 
                                    data-parsley-trigger="change focusin" 
                                    placeholder="Password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="p-2">
                                <label asp-for="ConfirmPassword" class="control-label"></label>
                                <input asp-for="ConfirmPassword" type="password" name="ConfirmPassword" class="form-control formtext" placeholder="Confirm Password" required data-parsley-equalto="#Password" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>

                        <!--div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        </div-->

                        <div class="p-2">
                            <input type="submit" value="Next" class="btn btn-block btn-success" />
                            <!--a href="#" class=" btn btn-block btn-success">Next</a-->
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
    $(document).ready(function () {
        //loadFees();
        $('#frmAdd').parsley().on('field:validated', function () {
             var ok = $('.parsley-error').length === 0;
           if (!ok) {
                InlineErrorMessage("Validation Error! Please check values inputted", "dvError");
                return false;
            }

        }).on('form:submit', function () {

            ClearInlineError("dvError");

            var frm = $("#frmAdd");

            if (frm == null) {
                InlineErrorMessage("Invalid Tab Information", "dvError");
                return false;
            }

            if (!frm.parsley().isValid()) {
                InlineErrorMessage("Validation Error! Please check all fields", "dvError");
                return false;
            }

            //alert(frm.parsley().isValid());
           //var actionUrl = frm.attr("action");
            var params = frm.serializeArray();

            //$("#waitAdd").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("ProcessAddBasicInfo", "Home")',
                data: params,
                success: function (data) { 
                    if (!data.isSuccessful) {
                        InlineErrorMessage(data.error, "dvError");
                        swal({
                            title: "",
                            text: data.Error ? data.Error : "Unknown error occured. Please try again later!",
                            type: "error",
                            showCancelButton: false,
                            confirmButtonText: "Close",
                            closeOnConfirm: true,
                        }, function (isConfirm) {
                            if (isConfirm) {
                            }
                        });

                    } else {
                        $('#dvModal').modal('hide');
                        swal({
                            title: "",
                            text: "User Information was added successfully",
                            type: "success",
                            showCancelButton: false,
                            confirmButtonText: "Ok",
                            closeOnConfirm: false,
                        }, function (isConfirm) {
                            if (isConfirm) {
                               window.location.reload();
                            }
                        });
                    }
                },
                complete: function () {
                    //$("#waitAdd").hide();
                }
            });
            return false;
        });
    });
    </script>

    <script>
        @*function loadFees() {
        //$("#FeeId").prop("disabled", true);
        $.getJSON("@Url.Action("LoadFees", "OBusinessDataProvider")",
            function(data) {
                var items = "";
                $.each(data,
                    function (i, item) {
                        if (parseInt('@Model.Email') === item.Id) {
                            items += "<option value='" + item.Id + "' selected='selected'>" + item.Name + "</option>";
                        } else {
                            items += "<option value='" + item.Id + "'>" + item.Name + "</option>";
                        }
                    });
                $("#FeeId").html(items);
                //$("#FeeId").prop("disabled", false);
            });
    }*@
    </script>
}