
@{
    ViewData["Title"] = "Confirmation";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

    <div class="container pt-5 text-center">
        <div class="alert alert-success" role="alert"><strong><h2>Great!</h2></strong> <h4>You have successfully confirmed your account.</h4></div>
        <a href="/Home/Login" class="mt-2"><h4>Click here to login</h4></a>
    </div>
