
@{
    ViewData["Title"] = "Confirmation";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

    <div class="container pt-5 text-center">
        <div class="alert alert-success" role="alert"><strong><h2>Great!</h2></strong> <h4>Failed to confirm your account .</h4></div>
    </div>
