
@{
    ViewData["Title"] = "Quotes";
    Layout = "~/Views/Shared/AccLayout.cshtml";
}


            <div class="row">
               <div class="col-xl-4 pl-5 pr-5">
				<div class="card text-white mb-3" style="background-color: rgba(41,114,115,1.00);">
                     <div class="card-header">Search Details</div>
                     <div class="card-body">
						 <span>Ojo Muphilat Bayo</span> <hr/>
						 <span>Insurance Type</span> <hr/>
						 <span>Cover Type</span> <hr/>
						 <span>Value</span> <hr/>
<!--                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card&apos;s content.</p>-->
                     </div>
                  </div>
               </div>
               <div class="col-xl-8">
				   <div class="card card-default mb-3">
                     <div class="card-header">Cover Type: <strong>Comprehensive</strong></div>
                     <div class="card-body">
						 <div class="row">
							 <div class="col-md-3 text-center">
								 <img src="~/Content/img/icon/photo.png" alt="" />
								 <p>part 1</p>
							 </div>
							 <div class="col-md-6">
								 <div class="text-center float-left m-2">
									 <span class="quoteicon">
									 <img src="~/Content/img/icon/hammer.png" alt="" width="30" />
									 </span>
									 <p class="mt-2">part 2</p>
								 </div>
								 <div class="text-center float-left m-2">
									 <span class="quoteicon">
									 <img src="~/Content/img/icon/pass.png" alt="" width="30" />
									 </span>
									 <p class="mt-2">part 2</p>
								 </div>
								 <div class="text-center float-left m-2">
									 <span class="quoteicond">
									 <img src="~/Content/img/icon/wrench-3.png" alt="" width="30" />
									 </span>
									 <p class="mt-2">part 2</p>
								 </div>
								 <div class="text-center float-left m-2">
									 <span class="quoteicond">
									 <img src="~/Content/img/icon/hammer.png" alt="" width="30" />
									 </span>
									 <p class="mt-2">part 2</p>
								 </div>
								 <div class="text-center float-left m-2">
									 <span class="quoteicond">
									 <img src="~/Content/img/icon/screen.png" alt="" width="30" />
									 </span>
									 <p class="mt-2">part 2</p>
								 </div>
							 </div>
							 <div class="col-md-3 text-center">
								 <button class="btn btn-oval btn-secondary" type="button">View Details</button><br/><br/>
								 <button class="btn btn-oval btn-success" type="button">Get Quotes</button>
							 </div>
						 </div>
                     </div>
                  </div>
				   <div class="card card-default mb-3">
                     <div class="card-header">Cover Type: <strong>Comprehensive</strong></div>
                     <div class="card-body">
						 <div class="row">
							 <div class="col-md-3 text-center">
								 <img src="~/Content/img/icon/photo.png" alt="" />
								 <p>part 1</p>
							 </div>
							 <div class="col-md-6">
								 <div class="text-center float-left m-2">
									 <span class="quoteicon">
									 <img src="~/Content/img/icon/hammer.png" alt="" width="30" />
									 </span>
									 <p class="mt-2">part 2</p>
								 </div>
								 <div class="text-center float-left m-2">
									 <span class="quoteicond">
									 <img src="~/Content/img/icon/pass.png" alt="" width="30" />
									 </span>
									 <p class="mt-2">part 2</p>
								 </div>
								 <div class="text-center float-left m-2">
									 <span class="quoteicon">
									 <img src="~/Content/img/icon/wrench-3.png" alt="" width="30" />
									 </span>
									 <p class="mt-2">part 2</p>
								 </div>
								 <div class="text-center float-left m-2">
									 <span class="quoteicon">
									 <img src="~/Content/img/icon/hammer.png" alt="" width="30" />
									 </span>
									 <p class="mt-2">part 2</p>
								 </div>
								 <div class="text-center float-left m-2">
									 <span class="quoteicon">
									 <img src="~/Content/img/icon/screen.png" alt="" width="30" />
									 </span>
									 <p class="mt-2">part 2</p>
								 </div>
							 </div>
							 <div class="col-md-3 text-center">
								 <button class="btn btn-oval btn-secondary" type="button">View Details</button><br/><br/>
								 <button class="btn btn-oval btn-success" type="button">Get Quotes</button>
							 </div>
						 </div>
                     </div>
                  </div>
				   <div class="card card-default mb-3">
                     <div class="card-header">Cover Type: <strong>Comprehensive</strong></div>
                     <div class="card-body">
						 <div class="row">
							 <div class="col-md-3 text-center">
								 <img src="~/Content/img/icon/photo.png" alt="" />
								 <p>part 1</p>
							 </div>
							 <div class="col-md-6">
								 <div class="text-center float-left m-2">
									 <span class="quoteicond">
									 <img src="~/Content/img/icon/hammer.png" alt="" width="30" />
									 </span>
									 <p class="mt-2">part 2</p>
								 </div>
								 <div class="text-center float-left m-2">
									 <span class="quoteicond">
									 <img src="~/Content/img/icon/pass.png" alt="" width="30" />
									 </span>
									 <p class="mt-2">part 2</p>
								 </div>
								 <div class="text-center float-left m-2">
									 <span class="quoteicond">
									 <img src="~/Content/img/icon/wrench-3.png" alt="" width="30" />
									 </span>
									 <p class="mt-2">part 2</p>
								 </div>
								 <div class="text-center float-left m-2">
									 <span class="quoteicon">
									 <img src="~/Content/img/icon/hammer.png" alt="" width="30" />
									 </span>
									 <p class="mt-2">part 2</p>
								 </div>
								 <div class="text-center float-left m-2">
									 <span class="quoteicon">
									 <img src="~/Content/img/icon/screen.png" alt="" width="30" />
									 </span>
									 <p class="mt-2">part 2</p>
								 </div>
							 </div>
							 <div class="col-md-3 text-center">
								 <button class="btn btn-oval btn-secondary" type="button">View Details</button><br/><br/>
								 <button class="btn btn-oval btn-success" type="button">Get Quotes</button>
							 </div>
						 </div>
                     </div>
                  </div>
               </div>
            </div>