<div class="loader" style="text-align:center;" id="waitAdd">
    <div class="text-center" style="margin-top: 15%;">
        <div class="loading">
            <div class="loading-dot"></div>
            <div class="loading-dot"></div>
            <div class="loading-dot"></div>
            <div class="loading-dot"></div>
        </div>
        <h3 id="loadingMessage">Please Wait</h3>
    </div>
</div>

